{% extends 'base.html.twig' %}

{% block title %}Hello FamilleController!
{% endblock %}

{% block body %}
	{% for famille in familles %}
		<h2>{{famille.libelle | capitalize}}</h2>
		<div>
			{{famille.description}}</div>

	{% endfor %}
{% endblock %}
